<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet" href="/codemirror/codemirror.css"/>
    <link rel="stylesheet" href="/highlight/default.css"/>
    <script src="/application.js"></script>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  </head>
  <script>
  </script>
  <body>
    {{{markup}}}
  </body>
</html>
