<form id="form" action="{{url}}" method="post">
  <input name="title" value="{{title}}"/>
  <input type="hidden" name="fromform" value="yes">
  <textarea name="body">
    {{body}}
  </textarea>
  <input id="submit" type="submit" value="Submit"/>
</form>
