<button class="toggleVim">Toggle Vim</button>
<button class="toggleLines">Toggle Lines</button>
<form id="form" action="{{url}}" method="post">
  <label>Title</label>
  <input name="title" value="{{title}}"/>
  <input type="hidden" name="fromform" value="yes">
  <label>Body</label>
  <textarea name="body">{{body}}</textarea>
  <input id="submit" type="submit" value="Submit"/>
</form>

<section class="preview">
</div>
