body {
  padding: 35px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-smooth: always;
  font-weight: 400;
  font-size: 9pt;
}

a {
  color: #eff4ff;
  min-width: 90px;
  min-height: 32px;
  height: 32px;
  background-color: #2d89ef;
  border: 1px transparent solid;
  color: #353535;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 12px 15px 2px 15px;
  position: relative;
}
