
@font-face {
  font-family: 'icon';
  src: url('../font/fontawesome-webfont.eot?v=3.0.1');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../font/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('../font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

body {
  font-family: 'Helevtica Nueue', Helvetica, Arial, sans-serif;
  font-smooth: always;
  font-weight: 400;
  font-size: 13px;
  background: #16101d;
  padding: 0 0 100px 0;
}

a, a:hover, a:visited, a:active {

}

img {
  max-width: 100%
}

.container { 
  width: 100%;
}

.container nav,
.container .errors,
.container form {
  max-width: 800px;
  margin: 0 auto;
  display: block;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/************************************************/
/* NavBarView */

.NavBarView {
  -webkit-backface-visibility: hidden;
  top: 0;
  left: 0;
  position: fixed;
  height: 44px;
  width: 100%;
  background: #422c4e;
  padding: 5px 20px 5px 34px;
  overflow: hidden;
  z-index: 9999;
}

  .NavBarView a {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
    height: 88px;
    margin: 0 3px 0;
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  }

  .NavBarView a span {
    display: block;
    padding: 10px;
    height: 100%;
    position: relative;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: -webkit-transform 0.25s;
  }

    .NavBarView a span:after {
      content: attr(data-title);
      bottom: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 50%;
      display: block;
      color: #e7baff;
      padding: 10px;
    }

    .NavBarView a:hover span {
      -webkit-transform: translate3d(0,-50%,0);
    }

    .NavBarView a.home:before {
      content: '\f015';
      font-family: 'icon';
      font-weight: 300;
      position: absolute;
      top: 6px;
      left: -18px;
      font-size: 18px;
    }

/************************************************/
/* CompositeView */

.CompositeView {
  padding: 48px 0 0 0;
}

/************************************************/
/* PostView */

.PostView {
  width: 100%;
  display: block;
}

  .PostView article {
    max-width: 840px;
    min-height: 240px;
    padding: 20px 40px 40px 10%;
    margin: 0 auto;
    color: #fff;
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,0.05);
  }
   
   .PostView article:before {
      content: '\f0f6';
      font-family: 'icon';
      font-size: 200px;
      line-height: 100%;
      font-weight: normal;
      position: absolute;
      display: block;
      top: 20px;
      left: 0;
      color: rgba(255,255,255,0.1);
      z-index: 700;
    }

    .PostView article.video:before {
      content: '\f008';
    }

    .PostView article.image:before {
      content: '\f083';
      font-size: 144px;
    }

    .PostView article.page:before {
      content: '\f097';
    }

    .PostView article h1 {

    }

      .PostView article a {
        text-decoration: none;
      }

      .PostView article a h1,
      .PostView article a:visited h1,
      .PostView article a:active h1, 
      .PostView article h1 a,
      .PostView article h1 a:visited,
      .PostView article h1 a:active {
        font-size: 38px;
        line-height: 150%;
        color: #e7baff;
        z-index: 800;
        position: relative;
      }

  .PostView article .pubDate {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 100%;
    color: rgba(255,255,255,0.5);
    display: block;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    -webkit-transition: all 0.25s;
  }

  .PostView article img {
    padding: 3px;
    background: #000;
    border: 1px solid rgba(255,255,255,0.1);
  }

/************************************************/
/* Login */

.LoginView {
  padding: 30px;
  color: #fff;
  font-size: 14px;
}

  .LoginView .errors { 
    background: #c12424;
    padding: 20px;
    color: #fff;
    margin: 0 auto 30px auto; 
  }

    .LoginView .errors li { 
      margin: 0 0 0 15px;
      padding: 0; 
    }

  .LoginView label { 
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    color: rgba(255,255,255,0.8);
    margin: 0 0 5px 0; 
  }

  .LoginView input { 
    display: block;
    font-size: 24px;
    line-height: 150%;
    margin: 0 0 20px 0;
    padding: 5px 10px;
    width: 60%;
    height: 50px;
    min-width: 300px;
    border: none;
    color: #fff;
    background: rgba(255,255,255,0.1); 
  }

  .LoginView .submit {
    position: relative;
    width: 60%;
    min-width: 300px;
    height: 50px;
  }

    .LoginView .submit input[type=submit] {
      text-transform: uppercase;
      font-size: 18px;
      line-height: 150%;
      width: 100%;
      height: 100%;
      font-weight: bold;
      display: block;
      color: #000;
      background: #90e241;
      position: relative;
    }

/************************************************/
/* EditPostView */

.EditPostView {
  color: #fff;
  font-size: 14px;
  padding: 20px 0 0 0;
}

  .EditPostView .container {
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
  }
  
  .EditPostView button {
    margin: 0 0 15px;
  }

  .EditPostView label { 
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    color: rgba(255,255,255,0.8);
    margin: 0 0 5px 0; 
  }

  .EditPostView select,
  .EditPostView input { 
    display: block;
    font-size: 24px;
    line-height: 150%;
    margin: 0 0 20px 0;
    padding: 5px 10px;
    width: 60%;
    height: 50px;
    min-width: 300px;
    border: none;
    color: #fff;
    background: rgba(255,255,255,0.1); 
  }

  .EditPostView .CodeMirror {
    margin: 0 0 15px;
    width: 60%;
    min-width: 300px;
  }

/************************************************/
/* CodeMirror */

.cm-s-vibrant-ink.CodeMirror { background: black; color: white; }
.cm-s-vibrant-ink .CodeMirror-selected { background: #35493c !important; }

.cm-s-vibrant-ink .CodeMirror-gutters { background: #002240; border-right: 1px solid #aaa; }
.cm-s-vibrant-ink .CodeMirror-linenumber { color: #d0d0d0; }
.cm-s-vibrant-ink .CodeMirror-cursor { border-left: 1px solid white !important; }

.cm-s-vibrant-ink .cm-keyword {  color: #CC7832; }
.cm-s-vibrant-ink .cm-atom { color: #FC0; }
.cm-s-vibrant-ink .cm-number { color:  #FFEE98; }
.cm-s-vibrant-ink .cm-def { color: #8DA6CE; }
.cm-s-vibrant-ink span.cm-variable-2, .cm-s-cobalt span.cm-tag { color: #FFC66D }
.cm-s-vibrant-ink span.cm-variable-3, .cm-s-cobalt span.cm-def { color: #FFC66D }
.cm-s-vibrant-ink .cm-operator { color: #888; }
.cm-s-vibrant-ink .cm-comment { color: gray; font-weight: bold; }
.cm-s-vibrant-ink .cm-string { color:  #A5C25C }
.cm-s-vibrant-ink .cm-string-2 { color: red }
.cm-s-vibrant-ink .cm-meta { color: #D8FA3C; }
.cm-s-vibrant-ink .cm-error { border-bottom: 1px solid red; }
.cm-s-vibrant-ink .cm-builtin { color: #8DA6CE; }
.cm-s-vibrant-ink .cm-tag { color: #8DA6CE; }
.cm-s-vibrant-ink .cm-attribute { color: #8DA6CE; }
.cm-s-vibrant-ink .cm-header { color: #FF6400; }
.cm-s-vibrant-ink .cm-hr { color: #AEAEAE; }
.cm-s-vibrant-ink .cm-link { color: blue; }