body
  padding: 35px
  font-family: Verdana, Arial, Helvetica, sans-serif
  font-smooth: always
  font-weight: 400
  font-size: 9pt

img
  max-width: 100%

//
// @name NavBarView
// @description Stick Navigation Header.
//
// @markup
//   <div class="NavBarView">
//     <nav>
//       <a href="#">Home</a>
//       <a href="#">About</a>
//     </nav>
//   </div>

.NavBarView
  // prevent chrome from painting sticky bar
  -webkit-backface-visibility: hidden
  width: 100%
  top: 0
  position: fixed
  height: 35px
  background: white
  font-size: 17pt
  z-index: 3

// @name Audio Post
// @description A post for audio
//
// @markup
//   <article class="audio">
//     <a href="http://google.ca">
//       <h1>Title</h1>
//     </a>
//     <span class="pubDate">Tuesday Feb, 13 2013</span>
//     <audio src="http://www.jplayer.org/audio/m4a/TSP-01-Cro_magnon_man.m4a" controls></audio>
//     Body Text Here
//   </article>

article.audio
  background: purple
